.card {
    border-radius: 5px;
    width: 80%;
    background-color: #fff;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}

.card .picture {
    margin: 7px;
    background-color: orange;
    border: 1px solid orange;
}

.picture img {
    padding: 10px;
    width: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

.picture label {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}