<div class="game">
    <my-menu title="Menu">
        <li>
            <a href="#">Meu Perfil</a>
        </li>
        <li>
            <a href="#">Minhas Partidas</a>
        </li>
        <li>
            <a href="#">Sair</a>
        </li>
    </my-menu>
    <my-board :cards="game.player.board.characterFrames"></my-board>
    <my-card :image="misteryFace.image" :name="misteryFace.name" class="cardChoiced"></my-card>
    <my-menu title="Perguntas" class="perguntas">
        <li v-for="question in questions" :key="question.id" v-on:click="sendQuestion(question)">
            <a href="#">{{question.description}}</a>
        </li>
    </my-menu>
    <my-timer></my-timer>
    <div class="finalizar">
        <a href="#">Já sei quem é!</a>
    </div>
</div>