.home {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1em #666;
    width: 50%;
    height: 50%;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.home h1 {
  text-align: center;
  color: orange;
}

button {
  border:0;
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 70%;
  display: inline-block;
  margin: 10px;
  font-size: 100%;
}

button:hover{
  background-color: yellow;
  color: orange;
}

.home-buttons{
  margin: 0 auto;
  position: relative;
  text-align: center;
}